docker-compose.yml
Dockerfile
server.py
functions/__pycache__/change_room_status.cpython-312.pyc
functions/__pycache__/connect.cpython-312.pyc
functions/__pycache__/disconnect.cpython-312.pyc
functions/__pycache__/get_chat_history.cpython-312.pyc
functions/__pycache__/get_room_list.cpython-312.pyc
functions/__pycache__/send_message.cpython-312.pyc
functions/__pycache__/set_translated_message.cpython-312.pyc
functions/__pycache__/translate_message.cpython-312.pyc
utils/__pycache__/auth.cpython-312.pyc
utils/__pycache__/deepl.cpython-312.pyc
utils/__pycache__/dynamodb.cpython-312.pyc
utils/__pycache__/return_result.cpython-312.pyc
utils/__pycache__/websocket.cpython-312.pyc
__pycache__/app.cpython-312.pyc
utils/__pycache__/__init__.cpython-312.pyc
utils/__pycache__/setting.cpython-312.pyc
utils/aws/__pycache__/__init__.cpython-312.pyc
utils/aws/__pycache__/dynamodb.cpython-312.pyc
utils/aws/__pycache__/websocket.cpython-312.pyc
utils/external/__pycache__/__init__.cpython-312.pyc
utils/external/__pycache__/deepl.cpython-312.pyc
.env
serverless.yml
